<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Punchout2Go\PurchaseOrder\Api\Validator\PunchoutValidatorContainerInterface" type="Punchout2Go\PurchaseOrder\Model\Validator\PunchoutValidatorContainer" />
    <preference for="Punchout2Go\PurchaseOrder\Api\Validator\RequestValidatorInterface" type="Punchout2Go\PurchaseOrder\Model\Validator\PunchoutValidator" />
    <preference for="Punchout2Go\PurchaseOrder\Api\PuchoutApiKeyValidatorInterface" type="Punchout2Go\PurchaseOrder\Model\PuchoutApiKeyValidator" />
    <preference for="Punchout2Go\PurchaseOrder\Api\HeaderInterface" type="Punchout2Go\PurchaseOrder\Model\Header" />

    <preference for="Punchout2Go\PurchaseOrder\Api\PunchoutOrderManagerInterface" type="Punchout2Go\PurchaseOrder\Model\PunchoutOrderManager" />
    <preference for="Punchout2Go\PurchaseOrder\Api\SalesServiceInterface" type="Punchout2Go\PurchaseOrder\Model\SalesService" />
    <preference for="Punchout2Go\PurchaseOrder\Api\ShippingServiceInterface" type="Punchout2Go\PurchaseOrder\Model\ShippingService" />
    <preference for="Punchout2Go\PurchaseOrder\Api\TaxServiceInterface" type="Punchout2Go\PurchaseOrder\Model\TaxService" />

    <preference for="Punchout2Go\PurchaseOrder\Api\PunchoutData\PunchoutQuoteInterface" type="Punchout2Go\PurchaseOrder\Model\PunchoutQuote" />
    <preference for="Punchout2Go\PurchaseOrder\Api\PunchoutData\QuoteItemInterface" type="Punchout2Go\PurchaseOrder\Model\PunchoutQuote\QuoteItem" />
    <preference for="Punchout2Go\PurchaseOrder\Api\PunchoutData\CustomerInterface" type="Punchout2Go\PurchaseOrder\Model\PunchoutQuote\Customer" />
    <preference for="Punchout2Go\PurchaseOrder\Api\PunchoutData\AddressInterface" type="Punchout2Go\PurchaseOrder\Model\PunchoutQuote\Address" />
    <preference for="Punchout2Go\PurchaseOrder\Api\PunchoutData\PaymentInterface" type="Punchout2Go\PurchaseOrder\Model\PunchoutQuote\Payment" />
    <preference for="Punchout2Go\PurchaseOrder\Api\PaymentProcessorInterface" type="Punchout2Go\PurchaseOrder\Model\Processor\PaymentProcessor"/>

    <preference for="Punchout2Go\PurchaseOrder\Api\ShippingRateSelectorInterface" type="Punchout2Go\PurchaseOrder\Model\Shipping\ShippingRatePool" />

    <preference for="Punchout2Go\PurchaseOrder\Api\QuoteConverterInterface" type="Punchout2Go\PurchaseOrder\Model\Converter\QuoteConverter" />
    <preference for="Punchout2Go\PurchaseOrder\Api\AddressConverterInterface" type="Punchout2Go\PurchaseOrder\Model\Converter\AddressConverter" />
    <preference for="Punchout2Go\PurchaseOrder\Api\QuoteItemConverterInterface" type="Punchout2Go\PurchaseOrder\Model\Converter\QuoteItemConverter" />
    <preference for="Punchout2Go\PurchaseOrder\Api\PunchoutContainerInterface" type="Punchout2Go\PurchaseOrder\Model\Authorization\PunchoutContainer" />

    <preference for="Punchout2Go\PurchaseOrder\Api\Data\PurchaseOrderItemInterface" type="Punchout2Go\PurchaseOrder\Model\PurchaseOrderItem" />
    <preference for="Punchout2Go\PurchaseOrder\Api\Data\PurchaseOrderQuoteItemInterface" type="Punchout2Go\PurchaseOrder\Model\PurchaseOrderQuoteItem" />


    <preference for="Punchout2Go\PurchaseOrder\Api\QuoteBuildContainerInterface" type="Punchout2Go\PurchaseOrder\Model\QuoteBuildContainer" />
    <preference for="Punchout2Go\PurchaseOrder\Api\QuoteElementHandlerInterface" type="Punchout2Go\PurchaseOrder\Model\QuoteElementProvider\QuoteElementHandlerList" />

    <preference for="Punchout2Go\PurchaseOrder\Api\Checkout\PaymentInformationManagementInterface" type="Punchout2Go\PurchaseOrder\Model\Checkout\PaymentInformationManagement"/>
    <preference for="Punchout2Go\PurchaseOrder\Api\Checkout\TotalsInformationManagementInterface" type="Punchout2Go\PurchaseOrder\Model\Checkout\TotalsInformationManagement"/>
    <preference for="Punchout2Go\PurchaseOrder\Api\Checkout\CartManagementInterface" type="Punchout2Go\PurchaseOrder\Model\Checkout\CartManagement" />

    <preference for="Punchout2Go\PurchaseOrder\Logger\StoreLoggerInterface" type="Punchout2Go\PurchaseOrder\Logger\Logger" />

    <preference for="Punchout2Go\PurchaseOrder\Api\ModuleMetadataInterface" type="Punchout2Go\PurchaseOrder\Model\ModuleMetadata"/>

    <virtualType name="PurchaseOrderLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">purchase_order</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="debug" xsi:type="object">Punchout2Go\PurchaseOrder\Logger\Handlers\Debug</item>
                <item name="system" xsi:type="object">Punchout2Go\PurchaseOrder\Logger\Handlers\Exception</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Punchout2Go\PurchaseOrder\Logger\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">PurchaseOrderLogger</argument>
        </arguments>
    </type>

    <type name="Punchout2Go\PurchaseOrder\Model\QuoteElementProvider\QuoteElementHandlerList">
        <arguments>
            <argument name="elementHandlers" xsi:type="array">
                <item name="quote" xsi:type="array">
                    <item name="type" xsi:type="string">Punchout2Go\PurchaseOrder\Model\QuoteElementProvider\QuoteHandler</item>
                    <item name="sortOrder" xsi:type="string">1</item>
                </item>
                <item name="customer" xsi:type="array">
                    <item name="type" xsi:type="string">Punchout2Go\PurchaseOrder\Model\QuoteElementProvider\CustomerHandler</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
                <item name="items" xsi:type="array">
                    <item name="type" xsi:type="string">Punchout2Go\PurchaseOrder\Model\QuoteElementProvider\ItemsHandler</item>
                    <item name="sortOrder" xsi:type="string">20</item>
                </item>
                <item name="shipping" xsi:type="array">
                    <item name="type" xsi:type="string">Punchout2Go\PurchaseOrder\Model\QuoteElementProvider\ShippingHandler</item>
                    <item name="sortOrder" xsi:type="string">30</item>
                </item>
                <item name="payment" xsi:type="array">
                    <item name="type" xsi:type="string">Punchout2Go\PurchaseOrder\Model\QuoteElementProvider\PaymentHandler</item>
                    <item name="sortOrder" xsi:type="string">40</item>
                </item>
                <item name="billing_address" xsi:type="array">
                    <item name="type" xsi:type="string">Punchout2Go\PurchaseOrder\Model\QuoteElementProvider\BillingAddressHandler</item>
                    <item name="sortOrder" xsi:type="string">50</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="OrderRequestFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Punchout2Go\PurchaseOrder\Model\Payment\Method\OrderRequest::PAYMENT_CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Transparent\Info</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="validatorPool" xsi:type="object">OrderRequestValidatorPool</argument>
            <argument name="valueHandlerPool" xsi:type="object">OrderRequestValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">Magento\Payment\Gateway\Command\CommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="OrderRequestValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OrderRequestDefaultValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="OrderRequestDefaultValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OrderRequestConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OrderRequestConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Punchout2Go\PurchaseOrder\Model\Payment\Method\OrderRequest::PAYMENT_CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="OrderRequestValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="availability" xsi:type="string">Punchout2Go\PurchaseOrder\Model\Payment\Method\Validator\OrderPurchase</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Quote\Model\Quote\Item\Repository">
        <plugin name="punchout_purchase_order_quote_item_repository_plugin" type="Punchout2Go\PurchaseOrder\Plugin\QuoteItemRepositoryPlugin" />
    </type>

    <type name="Punchout2Go\PurchaseOrder\Model\Converter\QuoteItemConverter">
        <plugin name="punchout_purchase_order_quote_item_converter_plugin" type="Punchout2Go\PurchaseOrder\Plugin\QuoteItemConverterPlugin" />
    </type>

    <type name="Punchout2Go\PurchaseOrder\Model\Converter\QuoteConverter">
        <plugin name="punchout_purchase_order_quote_converter_plugin" type="Punchout2Go\PurchaseOrder\Plugin\QuoteConverterPlugin" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="punchout_purchase_quote_to_order_item" type="Punchout2Go\PurchaseOrder\Plugin\QuoteToOrderItemPlugin"/>
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Order\Item\Collection">
        <plugin name="punchout_purchase_order_collection_items" type="Punchout2Go\PurchaseOrder\Plugin\OrderItemCollectionPlugin"/>
    </type>

    <type name="Magento\Quote\Model\ResourceModel\Quote\Item\Collection">
        <plugin name="punchout_purchase_quote_collection_items" type="Punchout2Go\PurchaseOrder\Plugin\QuoteItemCollectionPlugin"/>
    </type>


    <type name="Magento\Sales\Block\Adminhtml\Items\Column\Name">
        <plugin name="punchout_purchase_order_adminhtml_product_name_renderer" type="Punchout2Go\PurchaseOrder\Plugin\AdminColumnNamePlugin"/>
    </type>

    <type name="Magento\Sales\Model\Order\ItemRepository">
        <plugin name="punchout_purchase_order_item_repository_plugin" type="Punchout2Go\PurchaseOrder\Plugin\OrderItemRepositoryPlugin"/>
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Order\Handler\State">
        <plugin name="punchout_purchase_order_status_plugin" type="Punchout2Go\PurchaseOrder\Plugin\OrderStatusPlugin"/>
    </type>

    <type name="Punchout2Go\PurchaseOrder\Model\Shipping\ShippingRatePool">
        <arguments>
            <argument name="shippingHandlers" xsi:type="array">
                <item name="policy" xsi:type="array">
                    <item name="type" xsi:type="string">Punchout2Go\PurchaseOrder\Model\Shipping\ShippingPolicyRate</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
                <item name="min_price" xsi:type="array">
                    <item name="type" xsi:type="string">Punchout2Go\PurchaseOrder\Model\Shipping\MinPriceShippingRate</item>
                    <item name="sortOrder" xsi:type="string">20</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="punchout_quote_address_plugin" type="Punchout2Go\PurchaseOrder\Plugin\QuoteAddressPlugin"/>
    </type>

    <type name="Punchout2Go\PurchaseOrder\Model\Validator\ModeValidator">
        <arguments>
            <argument name="availableModes" xsi:type="array">
                <item name="0" xsi:type="string">test</item>
                <item name="5" xsi:type="string">development</item>
                <item name="10" xsi:type="string">production</item>
            </argument>
        </arguments>
    </type>

    <type name="Punchout2Go\PurchaseOrder\Model\Validator\PunchoutValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="0" xsi:type="string">Punchout2Go\PurchaseOrder\Model\Validator\ModeValidator</item>
                <item name="5" xsi:type="string">Punchout2Go\PurchaseOrder\Model\Validator\ApiKeyValidator</item>
            </argument>
        </arguments>
    </type>

    <type name="Punchout2Go\PurchaseOrder\Model\Validator\ApiKeyValidator">
        <arguments>
            <argument name="validator" xsi:type="object">Punchout2Go\PurchaseOrder\Model\Validator\PuchoutApiKeyValidator</argument>
        </arguments>
    </type>

    <type name="Magento\Tax\Model\Sales\Total\Quote\Tax">
        <plugin name="punchout_purchase_order_tax_collector_plugin" type="Punchout2Go\PurchaseOrder\Plugin\TaxCollectorPlugin"/>
    </type>

</config>
