<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Authorization\Model\CompositeUserContext">
        <arguments>
            <argument name="userContexts" xsi:type="array">
                <item name="adminSessionUserContext" xsi:type="array">
                    <item name="type" xsi:type="object">Punchout2Go\PurchaseOrder\Model\Authorization\PurchaseOrderContext\Proxy</item>
                    <item name="sortOrder" xsi:type="string">30</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Weee\Model\ResourceModel\Tax">
        <plugin name="fixedProductTax" type="Punchout2Go\PurchaseOrder\Plugin\Model\ResourceModel\Tax"/>
    </type>
</config>
